<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"48px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:48px"><!-- wp:group {"align":"full","className":"wp-block-section","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull wp-block-section"><!-- wp:post-title {"align":"full","fontSize":"x-large"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
