<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"70px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:70px"><!-- wp:group {"align":"full","className":"wp-block-section","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull wp-block-section"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"className":"sidebar-variation"} -->
<div class="wp-block-columns sidebar-variation"><!-- wp:column {"verticalAlignment":"top","width":"75%","className":"col-content"} -->
<div class="wp-block-column is-vertically-aligned-top col-content" style="flex-basis:75%"><!-- wp:query-title {"type":"search","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":31,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:60%"><!-- wp:post-featured-image {"isLink":true,"height":"385px"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"40%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","separator":""} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"32px","lineHeight":"1.1","letterSpacing":"0px"}}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"4px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"post-author-icon","fontSize":"extra-small"} -->
<h2 class="wp-block-heading post-author-ion has-extra-small-font-size">By</h2>
<!-- /wp:heading -->

<!-- wp:post-author {"showAvatar":false} /--></div>
<!-- /wp:group -->

<!-- wp:post-date /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:read-more {"content":"Read More"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"25%","style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"className":"col-sidebar"} -->
<div class="wp-block-column is-vertically-aligned-top col-sidebar" style="flex-basis:25%"><!-- wp:template-part {"slug":"sidebar","theme":"news-fse"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
