<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"70px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top: 70px">
  <!-- wp:group {"align":"full","className":"wp-block-section","layout":{"type":"default"}} -->
  <div class="wp-block-group alignfull wp-block-section">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"className":"sidebar-variation"} -->
    <div class="wp-block-columns sidebar-variation">
      <!-- wp:column {"verticalAlignment":"top","width":"66.66%","className":"col-content"} -->
      <div
        class="wp-block-column is-vertically-aligned-top col-content"
        style="flex-basis: 66.66%"
      >
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group">
          <!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /-->

          <!-- wp:post-featured-image {"overlayColor":"contrast","align":"wide"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
        <div
          class="wp-block-group"
          style="margin-top: var(--wp--preset--spacing--70)"
        >
          <!-- wp:heading {"level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} -->
          <h5 style="font-style: normal; font-weight: 600">Compartir</h5>
          <!-- /wp:heading -->

          <!-- wp:social-links {"openInNewTab":true,"className":"is-style-logos-only"} -->
          <ul class="wp-block-social-links is-style-logos-only">
            <!-- wp:social-link {"url":"https://www.linkedin.com/","service":"linkedin"} /-->

            <!-- wp:social-link {"url":"twitter.com","service":"twitter"} /-->

            <!-- wp:social-link {"url":"https://www.facebook.com/","service":"facebook"} /-->

            <!-- wp:social-link {"url":"instagram.com","service":"instagram"} /-->

            <!-- wp:social-link {"url":"https://www.pinterest.com/","service":"pinterest"} /-->
          </ul>
          <!-- /wp:social-links -->
        </div>
        <!-- /wp:group -->

        <!-- wp:separator {"style":{"color":{"background":"#dfe3e7"}},"className":"is-style-wide"} -->
        <hr
          class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide"
          style="background-color: #dfe3e7; color: #dfe3e7"
        />
        <!-- /wp:separator -->

        <!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
        <div
          class="wp-block-columns is-not-stacked-on-mobile"
          style="
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
          "
        >
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:post-navigation-link {"textAlign":"right","type":"previous","showTitle":true,"linkLabel":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.2"}},"fontSize":"medium"} /-->
          </div>
          <!-- /wp:column -->

          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:post-navigation-link {"textAlign":"left","showTitle":true,"linkLabel":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.2"}},"fontSize":"medium"} /-->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->

        <!-- wp:separator {"style":{"color":{"background":"#dfe3e7"}},"className":"is-style-wide"} -->
        <hr
          class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide"
          style="background-color: #dfe3e7; color: #dfe3e7"
        />
        <!-- /wp:separator -->

        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group">
          <!-- wp:comments -->
          <div class="wp-block-comments">
            <!-- wp:comments-title /-->

            <!-- wp:comment-template -->
            <!-- wp:columns -->
            <div class="wp-block-columns">
              <!-- wp:column {"width":"40px"} -->
              <div class="wp-block-column" style="flex-basis: 40px">
                <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->
              </div>
              <!-- /wp:column -->

              <!-- wp:column -->
              <div class="wp-block-column">
                <!-- wp:comment-author-name {"fontSize":"small"} /-->

                <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
                <div
                  class="wp-block-group"
                  style="margin-top: 0px; margin-bottom: 0px"
                >
                  <!-- wp:comment-date {"fontSize":"small"} /-->

                  <!-- wp:comment-edit-link {"fontSize":"small"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:comment-content /-->

                <!-- wp:comment-reply-link {"fontSize":"small"} /-->
              </div>
              <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
            <!-- /wp:comment-template -->

            <!-- wp:comments-pagination -->
            <!-- wp:comments-pagination-previous /-->

            <!-- wp:comments-pagination-numbers /-->

            <!-- wp:comments-pagination-next /-->
            <!-- /wp:comments-pagination -->

            <!-- wp:post-comments-form /-->
          </div>
          <!-- /wp:comments -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"top","width":"33.33%","style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"className":"col-sidebar"} -->
      <div
        class="wp-block-column is-vertically-aligned-top col-sidebar"
        style="flex-basis: 33.33%"
      >
        <!-- wp:template-part {"slug":"sidebar","theme":"news-fse"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:pattern {"slug":"news-fse/nf-related-post"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
